*.db
*.egg
*.egg-info
*.log
*.mo
*.orig
*.py[cod]
*.sqlite
*.swp
*.tap
*.DS_Store
.coverage
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.tox/
develop-eggs/
dist/
eggs/
env/
node_modules/
sdist/
nosetests.xml
npm-debug.log
pip-log.txt
testem.*.*.*.json
