language: node_js

node_js:
  - "0.11"

before_install:
  - npm install -g grunt-cli testem

before_script:
  - testem launchers
  - grunt node

script:
  - grunt travis
  - npm test

branches:
  except:
    - gh-pages
